<div class="nav" data-uk-sticky="cls-active: uk-background-secondary uk-box-shadow-medium; top: 50vh; animation: uk-animation-slide-top">
    <div class="uk-container">
        <nav class="uk-navbar uk-navbar-container uk-navbar-transparent" data-uk-navbar>
            <div class="uk-navbar-left">
                <div class="uk-navbar-item uk-padding-remove-horizontal">
                    <a class="uk-logo" title="Logo" href="/"><img src="../assets/images/tabfloater_logo.svg" alt="Logo"></a>
                </div>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@s">
                    <li class="uk-active uk-visible@m"><a href="/" data-uk-icon="home"></a></li>
                    <li><a href="download">Download</a></li>
                    <li><a href="documentation">Documentation</a></li>
                    <li><a href="https://github.com/tabfloater/tabfloater" target="_blank" title="View on GitHub" uk-icon="icon: github" data-uk-tooltip></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
