/* TODO clean up unused css rules */

.nav {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
}

.nav-placeholder {
    height: 80px;
}

.uk-sticky-placeholder {
    height: 0 !important;
}

.top-content-height {
    height: 80vh;
    min-height: 460px;
    transition: height 0.25s;
}



.uk-subnav-pill > * > :first-child {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.04);
}
.top-container {
    z-index: 2;
}
.uk-logo img {
    height: 45px;
}
.subtitle-text {
    font-size: 1.2em;
    opacity: 0.7;
    font-weight: 300;
}
/* .logos-grid img {
    display: block;
    width: 60px;
    margin: 0 auto;
    filter:  grayscale(100%);
    transition: filter 0.25s;
}
.logos-grid img:hover {
    display: block;
    width: 60px;
    margin: 0 auto;
    filter:  grayscale(0);
} */

.img-shadow {
    -webkit-box-shadow: 9px 10px 12px -3px rgba(0,0,0,0.53);
    -moz-box-shadow: 9px 10px 12px -3px rgba(0,0,0,0.53);
    box-shadow: 9px 10px 12px -3px rgba(0,0,0,0.53);
}

.img-logo {
    width: 150px;
}

/* Code blocks */

pre {
    border: 0 solid #e5e5e5 !important;
    border-radius: 0 !important;
    background: #f6f8fa !important;
    padding: 15px !important;
    margin: 0px !important;
}

.codeContainer:hover {
    cursor: pointer;
}

.copyCodeSuccessIcon {
    padding: 7px !important;
    margin-right: 8px !important;
}
