<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marketing - UIkit 3 KickOff</title>
        <link rel="icon" href="../assets/images/favicon.png">
        <!-- CSS FILES -->
        <link rel="stylesheet" type="text/css" href="../assets/css/tabfloater.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/uikit.min.css">
    </head>
    <body>
        {{ content }}

        <!-- FOOTER -->
        <footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
            <div class="uk-container">
                <div class="uk-grid uk-grid-large" data-uk-grid>
                    <div class="uk-width-1-2@m">
                        <h5>OUR COMPANY</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud cillum dolore eu fugiat nulla contact to: <a href="#" title="">info@company.com</a></p>
                        <div>
                            <a href="" class="uk-icon-button" data-uk-icon="twitter"></a>
                            <a href="" class="uk-icon-button" data-uk-icon="facebook"></a>
                            <a href="" class="uk-icon-button" data-uk-icon="instagram"></a>
                        </div>
                    </div>
                    <div class="uk-width-1-6@m">
                        <h5>PRODUCTS</h5>
                        <ul class="uk-list">
                            <li>Big Data</li>
                            <li>Marketing</li>
                            <li>Analytics</li>
                            <li>AI Lab</li>
                        </ul>
                    </div>
                    <div class="uk-width-1-6@m">
                        <h5>OUR COMPANY</h5>
                        <ul class="uk-list">
                            <li>Team</li>
                            <li>Work</li>
                            <li>Culture</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <div class="uk-width-1-6@m">
                        <h5>OUR OFFICES</h5>
                        <ul class="uk-list">
                            <li>London</li>
                            <li>Chicago</li>
                            <li>Dubai</li>
                            <li>Brussels</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
                <span class="uk-text-small uk-text-muted">© 2019 Marketing Layout - <a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a> | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a></span>
            </div>
        </footer>
        <!-- /FOOTER -->

        <!-- JS FILES -->
        <script src="../assets/js/fontawesome.all.min.js"></script>
        <script src="../assets/js/uikit.min.js"></script>
        <script src="../assets/js/uikit-icons.min.js"></script>
        <script src="../assets/js/tabfloater.js"></script>
    </body>
</html>
