<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TabFloater</title>
        <link rel="icon" href="../assets/images/favicon.png">
        <!-- CSS FILES -->
        <link rel="stylesheet" type="text/css" href="../assets/css/tabfloater.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/uikit.min.css">
    </head>
    <body>
        {{ content }}

        <!-- FOOTER -->
        <footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
            <div class="uk-container">
                <div class="uk-grid uk-grid-large uk-child-width-1-2@l uk-flex-middle">
                    <div>
                        <h5>TABFLOATER</h5>
                        <p>
                            TabFloater is fully open source, under the Apache 2.0 license.<br />
                            View the source code on GitHub: <a href="https://github.com/tabfloater/tabfloater" target="_blank" title="View on GitHub" data-uk-icon="git-branch" data-uk-tooltip></a>
                        </p>
                        <div>
                            <a href="https://github.com/tabfloater/tabfloater" target="_blank" title="View on GitHub" class="uk-icon-button" data-uk-icon="github" data-uk-tooltip></a>
                        </div>
                    </div>
                    <div class="uk-text-right">
                        <h5>ABOUT</h5>
                        <ul class="uk-list">
                            <li><a href="#" title="Read our privacy policy" class="uk-link-muted" data-uk-tooltip>Privacy policy</a></li>
                            <li><a href="https://github.com/tabfloater/tabfloater/issues/new" target="_blank" title="Open a new issue on GitHub" class="uk-link-muted" data-uk-tooltip>Contact</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
                <span class="uk-text-small uk-text-muted">© 2020 Balazs Gyurak | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a></span>
            </div>
        </footer>
        <!-- /FOOTER -->

        <!-- JS FILES -->
        <script src="../assets/js/fontawesome.all.min.js"></script>
        <script src="../assets/js/uikit.min.js"></script>
        <script src="../assets/js/uikit-icons.min.js"></script>
        <script src="../assets/js/tabfloater.js"></script>
    </body>
</html>
